
<button class="btn btn-success border" (click)="Demo()" >For visit this page click Here.</button><br><br>

<div class="container-fluid">
  <button class="btn btn-primary" tourAnchor="click" >Click</button><br><br>
  <div class="btn btn-primary" tourAnchor="click2" style="float: left;">Click2</div><br>
  <h1 class="row">
    <b> {{ title }} </b>
  </h1>
  <div class="btn btn-primary" tourAnchor="Click3" style="float: left;">Click3</div><br><br>

  Enter Total types of Rooms :
  <input type="text" [(ngModel)]="noOfTotalTypesOfRoom" />
  <br />
  <table>
    <tr>
      <th>Types of room</th>
      <th>Total rooms</th>
      <th>Genrally Occupied rooms</th>
      <th>Price of each room</th>
    </tr>
    <tr *ngFor="let i of getArray(noOfTotalTypesOfRoom); let i = index" [attr.data-index]="i">
      <td>
        <input [(ngModel)]="typesOfRoom[i]" />
      </td>
      <td>
        <input [(ngModel)]="totalNoOfRooms[i]" />
      </td>
      <td>
        <input [(ngModel)]="occupiedRooms[i]" />
      </td>
      <td>
        <input [(ngModel)]="priceOfEachTypeRoom[i]" />
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" (click)="generateGraph()" tourAnchor="Click4">Click4</button>

  <div class="row">
    <div class="col-6">
      <canvas id="lineChart"> </canvas>
    </div>
    <div class="col-6">
      <canvas id="barChart-3"> </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <canvas id="barChart"> </canvas>
    </div>
    <div class="col-6">
      <canvas id="barChart-2"> </canvas>
    </div>
    <div class="row">
      <div class="col-12">
        <canvas id="barChart-3"> </canvas>
      </div>
    </div>
  </div>
</div>